*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
a{
    color: #fefefe;
    text-decoration: none;
    font-size: larger;
}
a:hover{
    color: #fd961a;
}
/* color-text1 is the color used on my name */
.color-text1{
    color: #fd961a;
}
/* color-text2 is the color of the animated text  */
.color-text2{
    color: #fd961a;
    padding: 8px 0 40px 0;
    animation: scale 6s infinite;
}
@keyframes scale {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
/*icon is used for social media icons in contact.js  */
.icon{
    background: #fefefe;
    border-radius: 7px;
    margin: 0 0 30px 0;
}


body{
    width: 100%;
    color: #fefefe;
    background-color: #282c34;
    font-family: 'Roboto', sans-serif;
}
.nav{  
    width: 100%;
    height: 150px;
}

.nav ul{
    padding: 5% 0 0 0;
}
.nav ul li{
    display: inline;
    padding: 0 40px 0 10%;
}
/* the navigation used for mobile phones  */
.mobile-nav {
    width: 95%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    opacity: 0.7;
    position: fixed;
    top: 85%;
    display: none;
}
.container1, .container2{
    width: 100%;
    display: flex;
}
/* the article on home.js */
.article{
    width: 50%;
    height: 420px;
    padding: 5px 0 0 20px;
    margin: 40px 10% 0 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #000000;
}
/* the article on about.js */
.article2{
    width: 60%;
    padding: 0 10px 0 0;
    margin: 40px 0 0 80px;
}
/* more-info is the button in home.js and view-cv is the button in about.js */
.more-info, .view-cv{
    width: 15%;
    height: 60px;
    color: #fefefe;
    background: #000000;
    margin: 0 0 30px 0;
    border: 1px solid #000000;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 5px 5px 2px #000000;
}
/* the pic in home.js */
.pic1{
    width: 30%;
    height: 400px;
    margin: 40px 0 0 0;
    background: url('./img/afunwa1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    box-shadow: 15px 15px 20px black;
}
/* the pic in about.js */
.pic2{
    width: 30%;
    height: 400px;
    background: url('./img/afunwa1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 40px 0 0 80px;   
    border-radius: 20px;
    box-shadow: 15px 15px 20px black;
}
/* div for cv.js */
.cv{
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0;  
}
/* reveal is the className of the paragraphs in cv.js */
.reveal{
    padding: 30px 0 0 30px;
}
/* div for service.js */
.service{
    width: 100%;
    margin: 50px 0 0 0;
}
/* the h2 and paragraph in service.js */
.service h2, p{
    padding: 0 10px 0 30px;
}
/* div for works.js */
.works{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 70px 0 20px 0;
}
/* the images used in works.js */
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9{
    width: 30%;
    height: 430px;
    border-radius: 10px;
    box-shadow: 15px 15px 20px black;
}
.img1{
    background: url('./img/Cloud9.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img2{
    background: url('./img/homepage\ 16.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img3{
    background: url('./img/homepage11.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img4{
    background: url('./img/Group\ 2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img5{
    background: url('./img/Screenshot.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img6{
    background: url('./img/homepage10.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img7{
    background: url('./img/felixtech1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img8{
    background: url('./img/NK-FOOTWEARS.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img9{
    background: url('./img/felixtech2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* div for contact.js */
.contact{
    width: 100%;
    padding: 30px 0 0 50px;
}
@media screen and (max-width: 575px) {
    .nav{
        display: none;
    }
    .mobile-nav {
        width: 95%;
        height: 80px;
        display: block;
        padding: 10px 0 0 0;
        display: flex;
        justify-content: space-around;
        border-radius: 20px;
        background: #000000;       
        position: fixed;
        top: 2%;
        left: 2%;
        font-size: x-small;
    }
    .fa-home, .fa-info-circle, .fa-wrench, .fa-briefcase, .fa-address-book{
        font-size: large;
    }
    .container1, .container2{
        flex-direction: column;
    }
    .article{
        width: 80%;
        height: 500px;
        padding: 15px 0 0 10px;
        margin: 20% 0 80px 60px ;
    }
    .article2{
        width: 80%;
        height: 520px;
        padding: 10px 10px 0 0;
        margin: 40px 0 20px 60px ;
        border-radius: 0 20px 20px 0;
        box-shadow: 5px 5px 2px #000000;
    }
    .more-info, .view-cv{
        width: 25%;
        height: 70px;      
    }
    .cv{
        margin: 20% 0 0 0;
    }
    .pic1{
        width: 80%;
        height: 400px;
        margin: 0 0 20px 58px;
    }
    .pic2{
        width: 80%;
        margin: 20% 0 30px 60px;
    }
    .service{
        margin: 20% 0 0 0;
    }
    .works{
        flex-direction: column;
        margin: 0;
    }
    .h2-for-work{
        margin: 20% 0 0 0;
    }
    .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9{
        width: 80%;
        margin: 20px 0 40px 60px;
    }
    .contact{
        margin: 20% 0 0 0;
    }
}